/* Color Variables */
$blue: #627085
$brown: #69523d
$red: #bf1d37
//$blue_gray: #7F8EA1
$blue_gray: #C7DFFF
$tan: #CEC8BB
$dark_initial_gradient: #4D4D4C
$dark_final_gradient: #3D3D3C
$blue_initial_gradient: rgba(127,142,161,.5)
$blue_final_gradient: rgba(127,142,161,.8)

/* Font Variables */

$just_me: 'Just Me Again Down Here', 'Helvetica'
$walter_turncoat: 'Walter Turncoat', 'Helvetica'
$coming_soon: 'Coming Soon', 'Coming Soon'

/* Mixins */
@mixin box_shadow($color: #222, $x: 0px, $y: 2px, $blur: 2px, $spread: 0px)
  -moz-box-shadow: $x $y $blur $spread $color
  -webkit-box-shadow: $x $y $blur $spread $color
  box-shadow: $x $y $blur $spread $color

@mixin border_radius_all($radius: 5px)
  -moz-border-radius: $radius
  -webkit-border-radius: $radius
  border-radius: $radius

@mixin border_radius_top($radius: 5px)
  -moz-border-radius: $radius $radius 0 0
  -webkit-border-radius: $radius $radius 0 0
  border-radius: $radius $radius 0 0

@mixin border_radius_bottom($radius: 5px)
  -moz-border-radius: 0 0 $radius $radius
  -webkit-border-radius: 0 0 $radius $radius
  border-radius: 0 0 $radius $radius

@mixin linear_gradient($point, $start_color, $start_percent, $end_color, $end_percent)
  background: linear-gradient($point, $start_color $start_percent, $end_color $end_percent)
  background: -o-linear-gradient($point, $start_color $start_percent, $end_color, $end_percent)
  background: -moz-linear-gradient($point, $start_color $start_percent, $end_color $end_percent)
  background: -webkit-linear-gradient($point, $start_color $start_percent, $end_color $end_percent)
  background: -webkit-gradient(linear, $point, color-stop($start_percent, $start_color), color-stop($end_percent, $end_color))
  background: -ms-linear-gradient($point, $start_color $start_percent, $end_color $end_percent)
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start_color', endColorstr='$end_color')

@mixin radial_gradient_texture($point, $start_color, $start_percent, $end_color, $end_percent, $texture)
  background: radial-gradient($point, $start_color $start_percent, $end_color $end_percent), $texture
  background: -o-radial-gradient($point, $start_color $start_percent, $end_color, $end_percent), $texture
  background: -moz-radial-gradient($point, $start_color $start_percent, $end_color $end_percent), $texture
  background: -webkit-radial-gradient($point, $start_color $start_percent, $end_color $end_percent), $texture
  background: -webkit-gradient(radial, $point, color-stop($start_percent, $start_color), color-stop($end_percent, $end_color)), $texture
  background: -ms-radial-gradient($point, $start_color $start_percent, $end_color $end_percent), $texture
  //filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start_color', endColorstr='$end_color')
/* General Styles */

html, body
  margin: 0
  padding: 0
  //height: 100%
  width: 100%
  min-width: 1100px
  //background: rgba(127,142,161,.5)//$blue_gray
  @include radial_gradient_texture(top, $blue_initial_gradient, 20%, $blue_final_gradient, 80%, url(/images/Texture.png))
  //background: url(/images/web_pattern3.png)
  font-family: $walter_turncoat

a
  text-decoration: none
  color: black
  &:visited
    color: black
  &:hover
    color: black

hr
  //width: 1000px
  //color: #000 !important
  //background-color: #000 !important
  //border: 2px solid black
  //@include box_shadow(#CCC, 0, 1px, 2px)


/* General Classes */
.left
  float: left

.right
  float: right

.clear
  clear: both

.no_margin_left
  margin-left: 0 !important

.bold
  font-weight: bold

.header
  height: 270px
  width: 100%
  min-width: 1000px
  .header_top
    //height: 150px
    height: 50px
    //background: $blue_gray
    @include linear_gradient(top, $dark_initial_gradient, 15%, $dark_final_gradient, 65%)
    @include box_shadow(#CCC, 0, 1px, 3px)
    //margin-bottom: 50px
    ul.quicknav
      //font-family: $walter_turncoat
      
      margin: 0
      .small_margin
        margin-left: 5px
      li
        margin-left: 30px
      a
        color: white
      img
        height: 30px
        width: 30px
        opacity: .7
        padding: 0
        position: relative
        top: 8px
        &:hover
          opacity: 1
    .header_top_container
      width: 1000px
      height: 10px
      margin: 0 auto
      ul.quicknav
        list-style-type: none
        color: white
        li
          display: inline
      //#logo
      //  //background: #CCC
      //  padding: 20px
      //  @include border_radius_bottom
      //ul.menu
      //  list-style-type: none
      //  margin: 0 !important
      //  //background: #CCC
      //  height: 50px
      //  position: relative
      //  top: 80px
      //  padding: 10px 25px
      //  li
      //    position: relative
      //    //top: 40px
      //    display: inline
      //    line-height: 50px
      //    vertical-align: bottom
      //    margin-left: 90px
      //    font-size: 1.7em
      //    font-family: $walter_turncoat
      //    padding: 0 10px
      //    &:hover
      //      border-bottom: 3px solid black
  .header_bottom
    height: 220px
    //background: #CCC
    .header_bottom_container
      margin: 0 auto
      width: 1000px
      height: 220px
      //background: url(/images/cow_pattern.png)
      #logo
        //background: #CCC
        //padding: 20px
        //@include border_radius_bottom
        padding-left: 20px
        //position: relative
        //bottom: 60px
      #catch_phrase
        font-family: 'Walter Turncoat'
        text-shadow: 0px 1px 1px white
        //padding: 50px 0px 0px
        margin-top: 50px
        text-align: center
        font-size: 2.3em
        vertical-align: middle
        .large_phrase
          font-size: 2.2em


//.menu_section
//  width: 100%
//  //@include linear_gradient(top, $dark_initial_gradient, 10%, $dark_final_gradient, 90%)
//  background: $dark_initial_gradient
//  height: 150px
//  min-width: 1000px
.menu_container
  width: 1000px
  margin: 0 auto
  height: 100px
  //background: $dark_initial_gradient
  //@include border_radius_all
  //@include box_shadow(#CCC, 0, 2px, 2px)
  //background: url(/images/cow_pattern.png)
  ul.menu
    line-height: 100px
    list-style-type: none
    margin-top: 20px
    //margin: 0 auto
    margin-left: 80px
    //width: 760px
    width: 960px
    //background: black
    //color: white
    //text-shadow: 0px 1px 1px white
    //padding: 10px 30px
    //@include border_radius_all(2px)
    //@include linear_gradient(top, $dark_initial_gradient, 10%, $dark_final_gradient, 80%)
    //@include box_shadow(#ccc, 0px, 1px)
    font-size: 1.5em
    //font-family: $walter_turncoat
    .no_margin_right
      margin-right: 0 !important
    li
      display: inline
      margin-right: 95px
      padding: 0 10px
      &:hover
        border-bottom: 3px solid black
      a
        //color: white
        //color: $blue
        //text-shadow: none
        &:hover
          //color: #bdb7aa
          //color: $red
    
      //border-left: 2px solid white
      //border-right: 2px solid white
      //#catch_phrase
      //  margin: 0
      //  width: 650px
      //  height: 100px
      //  line-height: 100px
      //  font-family: $just_me
      //  font-size: 3em
      //  text-align: right

.content
  width: 1000px
  margin: 0 auto
  //border: 1px solid blue
  margin-bottom: 230px
  margin-top: 10px
  //font-family: $coming_soon
  a
    color: $blue
  .content_div
    //background: white
    background: url(/images/cow_pattern3.png)
    margin: 10px 0
    width: 490px
    //padding: 30px
    .content_div_container
      margin: 30px
    hr
      width: 100px
      text-align: left !important
      margin-left: 0
      border: 1px solid black
    .content_header
      //text-align: center
      //padding: 10px 30px 0
      font-size: 2em
      //width: 30%
      //background: #CCC
      //border-bottom: 3px solid black
      //padding-bottom: 10px
    .body
      font-size: 1.5em
      margin: 40px 0 20px
      text-align: justify
  #welcome
    span.red
      color: #bf1d37
    .content_header
      font-size: 3.5em !important
      font-weight: bold
      //width: 100%
      text-align: center
      //border: none
      //padding: none
    //font-size: 1.7em
  #events
    .event
      width: 95%
      padding: 10px
      background: #E2E2E2
      margin: 20px 0
      .date
        background: white
        height: 105px
        width: 110px
        padding-top: 5px
        @include border_radius_all(60px)
        .day
          text-align: center
          font-size: 45px
          color: $blue
        .month_year
          text-align: center
          span.blue
            color: $blue

      .title
        font-size: 1.5em
        margin-left: 20px
        width: 250px
        text-align: center
        color: $blue
      .info
        margin: 10px 0 0 20px
        width: 270px
        .time
          width: 100px
          text-align: right
          line-height: 60px
          span.time
            font-size: 1.6em

        .address
          //text-align: right
          width: 170px
    .see_more
      font-size: 1.2em
      text-align: right
      //font-style: italic
      a
        &:hover
          color: $red

  #media
    background: none !important
  #pics
    height: 300px
    background: none !important
    img
      height: 300px
      width: 490px

  #feature_flavor
    .body
      margin-top: 0
      span.red
        color: $red
    
  #news
    .body
      margin-top: 10px
    .article
      .news_title
        color: $blue
        font-size: 1.4em
      .news_body
        margin-top: 10px
        font-size: 1.2em
        text-align: justify
        span.continue
          color: $blue
          margin-top: 10px
          font-size: .8em
          &:hover
            border-bottom: 2px solid 
      

  
      
.footer
  margin-top: -220px
  clear: both
  height: 220px
  min-width: 1000px
  background: $dark_final_gradient
  padding: 40px 0 0
  .footer_container
    margin: 0 auto
    width: 1000px
    .info
      #company
        color: white
        font-size: 50px
        text-shadow: 0 1px 1px #888
        line-height: .9em
        span.small
          font-size: 40px
      #phone
        color: #AAA
        text-shadow: 0 1px 1px #666
        font-size: 32px
      #email
        font-size: 1.3em
        a
          color: $blue
          &:hover
            border-bottom: 2px solid
  #copyright
    margin: 145px 0 0 100px
    color: white
  .footer_right
    #connect
      font-size: 2em
      color: white
      .links
        font-size: .6em
        margin-top: 15px
        a
          color: #DDD
        .margin
          margin-top: 10px
        .left
          line-height: 30px
          margin-left: 5px
          color: #DDD
        img
          height: 30px
          width: 30px
      #facebook
        &:hover
          #facebook_img
            background: url(/images/facebook.png)
        #facebook_img
          height: 30px
          width: 30px
          background: url(/images/facebook_bw.png)
          a
            display: block
            height: 30px
            width: 30px
        .like
          margin-right: 0
      #twitter
        &:hover
          #twitter_img
            background: url(/images/twitter.png)
        #twitter_img
          height: 30px
          width: 30px
          background: url(/images/twitter_bw.png)
          a
            display: block
            height: 30px
            width: 30px
        .tweet
          position: relative
          left: 15px
          top: 5px
          
.wrapper
  min-height: 100%


  