/* Color Variables */
/* Font Variables */
/* Mixins */
/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1100px;
  background: radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background: -o-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8), 80%), url(/images/Texture.png);
  background: -moz-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background: -webkit-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background: -webkit-gradient(radial, top, color-stop(20%, rgba(127, 142, 161, 0.5)), color-stop(80%, rgba(127, 142, 161, 0.8))), url(/images/Texture.png);
  background: -ms-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  font-family: "Walter Turncoat", "Helvetica"; }

a {
  text-decoration: none;
  color: black; }
  a:visited {
    color: black; }
  a:hover {
    color: black; }

/* General Classes */
.left {
  float: left; }

.right {
  float: right; }

.clear {
  clear: both; }

.no_margin_left {
  margin-left: 0 !important; }

.bold {
  font-weight: bold; }

.header {
  height: 270px;
  width: 100%;
  min-width: 1000px; }
  .header .header_top {
    height: 50px;
    background: linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    background: -o-linear-gradient(top, #4d4d4c 15%, #3d3d3c, 65%);
    background: -moz-linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    background: -webkit-linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    background: -webkit-gradient(linear, top, color-stop(15%, #4d4d4c), color-stop(65%, #3d3d3c));
    background: -ms-linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='$start_color', endColorstr='$end_color');
    -moz-box-shadow: 0 1px 3px 0px #cccccc;
    -webkit-box-shadow: 0 1px 3px 0px #cccccc;
    box-shadow: 0 1px 3px 0px #cccccc; }
    .header .header_top ul.quicknav {
      margin: 0; }
      .header .header_top ul.quicknav .small_margin {
        margin-left: 5px; }
      .header .header_top ul.quicknav li {
        margin-left: 30px; }
      .header .header_top ul.quicknav a {
        color: white; }
      .header .header_top ul.quicknav img {
        height: 30px;
        width: 30px;
        opacity: 0.7;
        padding: 0;
        position: relative;
        top: 8px; }
        .header .header_top ul.quicknav img:hover {
          opacity: 1; }
    .header .header_top .header_top_container {
      width: 1000px;
      height: 10px;
      margin: 0 auto; }
      .header .header_top .header_top_container ul.quicknav {
        list-style-type: none;
        color: white; }
        .header .header_top .header_top_container ul.quicknav li {
          display: inline; }
  .header .header_bottom {
    height: 220px; }
    .header .header_bottom .header_bottom_container {
      margin: 0 auto;
      width: 1000px;
      height: 220px; }
      .header .header_bottom .header_bottom_container #logo {
        padding-left: 20px; }
      .header .header_bottom .header_bottom_container #catch_phrase {
        font-family: "Walter Turncoat";
        text-shadow: 0px 1px 1px white;
        margin-top: 50px;
        text-align: center;
        font-size: 2.3em;
        vertical-align: middle; }
        .header .header_bottom .header_bottom_container #catch_phrase .large_phrase {
          font-size: 2.2em; }

.menu_container {
  width: 1000px;
  margin: 0 auto;
  height: 100px; }
  .menu_container ul.menu {
    line-height: 100px;
    list-style-type: none;
    margin-top: 20px;
    margin-left: 80px;
    width: 960px;
    font-size: 1.5em; }
    .menu_container ul.menu .no_margin_right {
      margin-right: 0 !important; }
    .menu_container ul.menu li {
      display: inline;
      margin-right: 95px;
      padding: 0 10px; }
      .menu_container ul.menu li:hover {
        border-bottom: 3px solid black; }

.content {
  width: 1000px;
  margin: 0 auto;
  margin-bottom: 230px;
  margin-top: 10px; }
  .content a {
    color: #627085; }
  .content .content_div {
    background: url(/images/cow_pattern3.png);
    margin: 10px 0;
    width: 490px; }
    .content .content_div .content_div_container {
      margin: 30px; }
    .content .content_div hr {
      width: 100px;
      text-align: left !important;
      margin-left: 0;
      border: 1px solid black; }
    .content .content_div .content_header {
      font-size: 2em; }
    .content .content_div .body {
      font-size: 1.5em;
      margin: 40px 0 20px;
      text-align: justify; }
  .content #welcome span.red {
    color: #bf1d37; }
  .content #welcome .content_header {
    font-size: 3.5em !important;
    font-weight: bold;
    text-align: center; }
  .content #events .event {
    width: 95%;
    padding: 10px;
    background: #e2e2e2;
    margin: 20px 0; }
    .content #events .event .date {
      background: white;
      height: 105px;
      width: 110px;
      padding-top: 5px;
      -moz-border-radius: 60px;
      -webkit-border-radius: 60px;
      border-radius: 60px; }
      .content #events .event .date .day {
        text-align: center;
        font-size: 45px;
        color: #627085; }
      .content #events .event .date .month_year {
        text-align: center; }
        .content #events .event .date .month_year span.blue {
          color: #627085; }
    .content #events .event .title {
      font-size: 1.5em;
      margin-left: 20px;
      width: 250px;
      text-align: center;
      color: #627085; }
    .content #events .event .info {
      margin: 10px 0 0 20px;
      width: 270px; }
      .content #events .event .info .time {
        width: 100px;
        text-align: right;
        line-height: 60px; }
        .content #events .event .info .time span.time {
          font-size: 1.6em; }
      .content #events .event .info .address {
        width: 170px; }
  .content #events .see_more {
    font-size: 1.2em;
    text-align: right; }
    .content #events .see_more a:hover {
      color: #bf1d37; }
  .content #media {
    background: none !important; }
  .content #pics {
    height: 300px;
    background: none !important; }
    .content #pics img {
      height: 300px;
      width: 490px; }
  .content #feature_flavor .body {
    margin-top: 0; }
    .content #feature_flavor .body span.red {
      color: #bf1d37; }
  .content #news .body {
    margin-top: 10px; }
  .content #news .article .news_title {
    color: #627085;
    font-size: 1.4em; }
  .content #news .article .news_body {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: justify; }
    .content #news .article .news_body span.continue {
      color: #627085;
      margin-top: 10px;
      font-size: 0.8em; }
      .content #news .article .news_body span.continue:hover {
        border-bottom: 2px solid; }

.footer {
  margin-top: -220px;
  clear: both;
  height: 220px;
  min-width: 1000px;
  background: #3d3d3c;
  padding: 40px 0 0; }
  .footer .footer_container {
    margin: 0 auto;
    width: 1000px; }
    .footer .footer_container .info #company {
      color: white;
      font-size: 50px;
      text-shadow: 0 1px 1px #888888;
      line-height: 0.9em; }
      .footer .footer_container .info #company span.small {
        font-size: 40px; }
    .footer .footer_container .info #phone {
      color: #aaaaaa;
      text-shadow: 0 1px 1px #666666;
      font-size: 32px; }
    .footer .footer_container .info #email {
      font-size: 1.3em; }
      .footer .footer_container .info #email a {
        color: #627085; }
        .footer .footer_container .info #email a:hover {
          border-bottom: 2px solid; }
  .footer #copyright {
    margin: 145px 0 0 100px;
    color: white; }
  .footer .footer_right #connect {
    font-size: 2em;
    color: white; }
    .footer .footer_right #connect .links {
      font-size: 0.6em;
      margin-top: 15px; }
      .footer .footer_right #connect .links a {
        color: #dddddd; }
      .footer .footer_right #connect .links .margin {
        margin-top: 10px; }
      .footer .footer_right #connect .links .left {
        line-height: 30px;
        margin-left: 5px;
        color: #dddddd; }
      .footer .footer_right #connect .links img {
        height: 30px;
        width: 30px; }
    .footer .footer_right #connect #facebook:hover #facebook_img {
      background: url(/images/facebook.png); }
    .footer .footer_right #connect #facebook #facebook_img {
      height: 30px;
      width: 30px;
      background: url(/images/facebook_bw.png); }
      .footer .footer_right #connect #facebook #facebook_img a {
        display: block;
        height: 30px;
        width: 30px; }
    .footer .footer_right #connect #facebook .like {
      margin-right: 0; }
    .footer .footer_right #connect #twitter:hover #twitter_img {
      background: url(/images/twitter.png); }
    .footer .footer_right #connect #twitter #twitter_img {
      height: 30px;
      width: 30px;
      background: url(/images/twitter_bw.png); }
      .footer .footer_right #connect #twitter #twitter_img a {
        display: block;
        height: 30px;
        width: 30px; }
    .footer .footer_right #connect #twitter .tweet {
      position: relative;
      left: 15px;
      top: 5px; }

.wrapper {
  min-height: 100%; }
