/* Color Variables */
/* Font Variables */
/* Mixins */
/* General Styles */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-width: 1100px;
  font-family: "Walter Turncoat", "Helvetica"; }

body {
  background: radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background: -o-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8), 80%), url(/images/Texture.png);
  background: -moz-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background: -webkit-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background: -webkit-gradient(radial, top, color-stop(20%, rgba(127, 142, 161, 0.5)), color-stop(80%, rgba(127, 142, 161, 0.8))), url(/images/Texture.png);
  background: -ms-radial-gradient(top, rgba(127, 142, 161, 0.5) 20%, rgba(127, 142, 161, 0.8) 80%), url(/images/Texture.png);
  background-attachment: fixed; }

a {
  text-decoration: none;
  color: #627085; }
  a:visited {
    color: #627085; }
  a:hover {
    color: #bf1d37; }

/* General Classes */
.left {
  float: left;
  margin: 0;
  padding: 0; }

.right {
  float: right;
  margin: 0;
  padding: 0; }

.clear {
  clear: both; }

.no_margin_left {
  margin-left: 0 !important; }

.bold {
  font-weight: bold; }

ul.sidenav {
  list-style-type: none;
  padding-left: 15px;
  font-size: 1.2em; }
  ul.sidenav a:hover {
    color: #bf1d37; }

.header {
  height: 246px;
  width: 100%;
  min-width: 1000px; }
  .header .header_top {
    height: 50px;
    background: linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    background: -o-linear-gradient(top, #4d4d4c 15%, #3d3d3c, 65%);
    background: -moz-linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    background: -webkit-linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    background: -webkit-gradient(linear, top, color-stop(15%, #4d4d4c), color-stop(65%, #3d3d3c));
    background: -ms-linear-gradient(top, #4d4d4c 15%, #3d3d3c 65%);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=$start_color, endColorstr=$end_color);
    -moz-box-shadow: 0 1px 3px 0px #cccccc;
    -webkit-box-shadow: 0 1px 3px 0px #cccccc;
    box-shadow: 0 1px 3px 0px #cccccc; }
    .header .header_top ul.quicknav {
      margin: 0; }
      .header .header_top ul.quicknav .small_margin {
        margin-left: 5px; }
      .header .header_top ul.quicknav li {
        margin-left: 30px; }
      .header .header_top ul.quicknav a {
        color: white; }
      .header .header_top ul.quicknav img {
        height: 30px;
        width: 30px;
        opacity: 0.7;
        padding: 0;
        position: relative;
        top: 8px; }
        .header .header_top ul.quicknav img:hover {
          opacity: 1; }
    .header .header_top .header_top_container {
      width: 1000px;
      height: 10px;
      margin: 0 auto; }
      .header .header_top .header_top_container ul.quicknav {
        list-style-type: none;
        color: white; }
        .header .header_top .header_top_container ul.quicknav li {
          display: inline;
          font-size: 1.2em;
          line-height: 2.5em; }
  .header .header_bottom {
    height: 195px;
    margin-top: 1px; }
    .header .header_bottom .header_bottom_container {
      margin: 0 auto;
      width: 1000px;
      height: 195px;
      background: url(/images/cow_pattern.png); }
      .header .header_bottom .header_bottom_container #logo {
        padding-top: 10px;
        padding-left: 20px; }
      .header .header_bottom .header_bottom_container #catch_phrase {
        font-family: "Walter Turncoat";
        text-shadow: 0px 1px 1px white;
        margin: 22px 45px 0 0;
        text-align: center;
        font-size: 2.3em;
        vertical-align: middle; }
        .header .header_bottom .header_bottom_container #catch_phrase .large_phrase {
          font-size: 2.2em; }

.menu_container {
  width: 1000px;
  margin: 20px auto 0;
  background: url(/images/cow_pattern.png); }
  .menu_container ul.admin_menu {
    line-height: 75px;
    width: 960px;
    font-size: 1.5em;
    margin: 20px 0 0px 40px;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-before: 0;
    margin-after: 0;
    margin-before: 0; }
    .menu_container ul.admin_menu .no_margin_right {
      margin-right: 0 !important; }
    .menu_container ul.admin_menu li {
      display: inline;
      margin-right: 80px;
      padding: 0 10px; }
      .menu_container ul.admin_menu li:hover {
        border-bottom: 3px solid black; }
        .menu_container ul.admin_menu li:hover a {
          color: #bf1d37; }
  .menu_container ul.menu {
    line-height: 75px;
    -webkit-margin-after: 0;
    -webkit-margin-before: 0;
    -moz-margin-after: 0;
    -moz-margin-before: 0;
    list-style-type: none;
    margin: 20px 0 0px 80px;
    width: 960px;
    font-size: 1.5em; }
    .menu_container ul.menu .no_margin_right {
      margin-right: 0 !important; }
    .menu_container ul.menu li {
      display: inline;
      margin-right: 95px;
      padding: 0 10px; }
      .menu_container ul.menu li:hover {
        border-bottom: 3px solid black; }
        .menu_container ul.menu li:hover a {
          color: #bf1d37; }
      .menu_container ul.menu li a {
        color: #627085; }

.content {
  width: 1000px;
  margin: 0px auto 230px; }
  .content .center {
    text-align: center; }
  .content span.red {
    color: #bf1d37; }
  .content hr {
    width: 100px;
    text-align: left !important;
    margin-left: 0;
    border: 1px solid black; }
  .content .content_header {
    font-size: 2em; }
  .content .content_header_small {
    text-align: left !important;
    font-size: 1.7em !important; }
  .content .about_div_left {
    width: 220px;
    background: url(/images/cow_pattern3.png);
    margin: 20px 0 0;
    padding: 30px; }
  .content .about_div_right {
    width: 640px;
    background: url(/images/cow_pattern3.png);
    margin: 20px 0 0;
    padding: 30px; }
  .content .content_div {
    background: url(/images/cow_pattern3.png);
    margin: 20px 0 0;
    width: 430px;
    padding: 30px; }
    .content .content_div .body {
      font-size: 1.5em;
      margin: 40px 0 0px;
      text-align: justify; }
      .content .content_div .body span.small {
        font-size: 0.7em; }
      .content .content_div .body span.medium {
        font-size: 0.8em; }
      .content .content_div .body .read_more, .content .content_div .body .less {
        font-size: 0.8em; }
      .content .content_div .body .flavor {
        margin-left: 20px;
        font-size: 0.8em; }
      .content .content_div .body .no_flavor {
        font-size: 0.8em;
        margin: 0 0 20px 20px; }
    .content .content_div .normal {
      text-align: center;
      font-size: 1.5em; }
    .content .content_div .no_center {
      text-align: left; }
      .content .content_div .no_center li {
        margin-left: 40px;
        font-size: 0.8em;
        list-style-type: none; }
  .content .mid_column {
    background: url(/images/cow_pattern3.png);
    width: 700px;
    padding: 30px;
    margin: 20px auto 0; }
    .content .mid_column .title {
      font-size: 2.2em; }
    .content .mid_column .body {
      font-size: 1.4em; }
    .content .mid_column span.small {
      font-size: 0.6em; }
    .content .mid_column a#back {
      font-size: 1.4em; }
  .content .content_div_full {
    background: url(/images/cow_pattern3.png);
    width: 100%;
    padding: 30px 0;
    margin: 20px 0 0; }
    .content .content_div_full .body {
      font-size: 1.5em;
      margin: 40px 0 0px;
      text-align: justify; }
  .content .list {
    width: 940px;
    margin: 20px 0 0;
    background: url(/images/cow_pattern3.png);
    padding: 30px;
    font-size: 1.5em; }
    .content .list .title {
      font-size: 2em; }
    .content .list .menu ul {
      list-style-type: none;
      font-size: 0.8em; }
      .content .list .menu ul li {
        display: inline;
        line-height: 2em; }
  .content .one_column_form {
    width: 400px;
    margin: 20px auto;
    padding: 30px;
    background: url(/images/cow_pattern3.png); }
    .content .one_column_form .title {
      font-size: 2em; }
  .content .full_form {
    width: 940px;
    margin: 20px auto;
    background: url(/images/cow_pattern3.png);
    padding: 30px; }
    .content .full_form .title {
      font-size: 2em; }
  .content form select {
    font-size: 1.2em; }
  .content form .login-error {
    color: red;
    background: #fceded;
    padding: 0 10px 15px;
    margin: 0 auto 20px; }
    .content form .login-error img {
      position: relative;
      top: 10px; }
  .content form .error {
    color: red;
    background: #fceded;
    padding: 5px 15px 15px; }
    .content form .error img {
      position: relative;
      top: 10px; }
    .content form .error .message {
      margin-left: 40px; }
  .content form .field_with_errors {
    color: red;
    padding: 0; }
    .content form .field_with_errors input[type=text] {
      border: 2px solid red;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px; }
  .content form label {
    font-size: 1.5em; }
  .content form .input {
    width: 220px;
    margin: 10px 0; }
  .content form input[type=text], .content form input[type=password] {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    width: 215px; }
  .content form textarea {
    padding: 10px;
    font-size: 1.1em;
    border: 1px solid #aaaaaa;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px; }
  .content form input[type=submit] {
    font-size: 1em;
    background: #1faeeb;
    border: 1px solid #118ec3;
    padding: 10px 0.5em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: white; }
    .content form input[type=submit]:hover {
      background: #1faeeb;
      opacity: 0.8; }
  .content #about .story_text {
    font-size: 1.2em; }
  .content #about .content_header {
    font-size: 2.8em !important;
    text-align: center; }
  .content #story .story_text {
    font-size: 1.2em; }
  .content #pics {
    padding: 0;
    width: 490px; }
  .content #welcome .content_header {
    font-size: 3.5em !important;
    font-weight: bold;
    text-align: center; }
  .content #events .event {
    width: 95%;
    padding: 10px;
    background: #e2e2e2;
    margin: 20px 0; }
    .content #events .event .date {
      background: white;
      height: 105px;
      width: 110px;
      padding-top: 5px;
      -moz-border-radius: 60px;
      -webkit-border-radius: 60px;
      border-radius: 60px; }
      .content #events .event .date .day {
        text-align: center;
        font-size: 45px;
        color: #627085; }
      .content #events .event .date .month_year {
        text-align: center; }
        .content #events .event .date .month_year span.blue {
          color: #627085; }
    .content #events .event .title {
      font-size: 1.5em;
      margin-left: 20px;
      width: 250px;
      text-align: center;
      color: #627085; }
    .content #events .event .info {
      margin: 10px 0 0 20px;
      width: 270px; }
      .content #events .event .info .time {
        width: 100px;
        text-align: right;
        line-height: 60px; }
        .content #events .event .info .time span.time {
          font-size: 1.6em; }
      .content #events .event .info .address {
        width: 170px; }
  .content #events .see_more {
    font-size: 1.2em;
    text-align: right; }
  .content #media {
    background: none !important; }
  .content #pics {
    height: 300px;
    background: none !important; }
    .content #pics img {
      height: 300px;
      width: 490px; }
  .content #feature_flavor .body {
    margin-top: 0; }
    .content #feature_flavor .body span.red {
      color: #bf1d37; }
  .content #news .body {
    margin-top: 10px; }
  .content #news .article .news_title {
    color: #627085;
    font-size: 1.4em; }
  .content #news .article .news_body {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: justify; }
    .content #news .article .news_body span.continue {
      color: #627085;
      margin-top: 10px;
      font-size: 0.8em; }

.footer {
  margin-top: -200px;
  clear: both;
  height: 220px;
  min-width: 1000px;
  background: #3d3d3c;
  padding: 40px 0 0; }
  .footer .footer_container {
    margin: 0 auto;
    width: 1000px; }
    .footer .footer_container .info #company {
      color: white;
      font-size: 50px;
      text-shadow: 0 1px 1px #888888;
      line-height: 0.9em; }
      .footer .footer_container .info #company span.small {
        font-size: 40px; }
    .footer .footer_container .info #phone {
      color: #aaaaaa;
      text-shadow: 0 1px 1px #666666;
      font-size: 32px; }
    .footer .footer_container .info #email {
      font-size: 1.3em; }
      .footer .footer_container .info #email a {
        color: #627085; }
        .footer .footer_container .info #email a:hover {
          border-bottom: 2px solid; }
  .footer #copyright {
    margin: 145px 0 0 100px;
    color: white; }
  .footer .footer_right #connect {
    font-size: 2em;
    color: white; }
    .footer .footer_right #connect .links {
      font-size: 0.6em;
      margin-top: 15px; }
      .footer .footer_right #connect .links a {
        color: #dddddd; }
      .footer .footer_right #connect .links .margin {
        margin-top: 10px; }
      .footer .footer_right #connect .links .left {
        line-height: 30px;
        margin-left: 5px;
        color: #dddddd; }
      .footer .footer_right #connect .links img {
        height: 30px;
        width: 30px; }
    .footer .footer_right #connect #facebook:hover #facebook_img {
      background: url(/images/facebook.png); }
    .footer .footer_right #connect #facebook #facebook_img {
      height: 30px;
      width: 30px;
      background: url(/images/facebook_bw.png); }
      .footer .footer_right #connect #facebook #facebook_img a {
        display: block;
        height: 30px;
        width: 30px; }
    .footer .footer_right #connect #facebook .like {
      margin-right: 0; }
    .footer .footer_right #connect #twitter:hover #twitter_img {
      background: url(/images/twitter.png); }
    .footer .footer_right #connect #twitter #twitter_img {
      height: 30px;
      width: 30px;
      background: url(/images/twitter_bw.png); }
      .footer .footer_right #connect #twitter #twitter_img a {
        display: block;
        height: 30px;
        width: 30px; }
    .footer .footer_right #connect #twitter .tweet {
      position: relative;
      left: 15px;
      top: 5px; }

.wrapper {
  min-height: 100%; }
