-#%h1 Home#index
-#%p Find me in app/views/home/index.html.erb
.content
  .stuff.left
  .media.right
    .video
      <iframe src="http://player.vimeo.com/video/21218942?title=0&amp;byline=0&amp;portrait=0" width="500" height="340" frameborder="0"></iframe>
  .stuff2.right
  .stuff3.left
  .stuff4.right


  .clear
