#sidemenu.about_div_left.left
  .content_div_container
    %ul.sidenav
      %li= link_to 'The Story', about_story_path
      %li= link_to 'Media', about_media_path
      %li= link_to 'Another link', ''

#story.about_div_right.right
  .content_div_container
    .content_header
      The Story
    %hr

    .story_text
      %p
        The Real Stuff story began several years before Paula Miller, Founder of The Real Stuff, married her husband Mark.  
        When Mark was growing up, he often visited his grandfather, Arthur, on his farm.  Arthur always had fresh fruit from 
        his own orchard, the best watermelons, the sweetest corn, and the best of all--ice cream!  Arthur would make the most 
        amazing ice cream from the natural products of his dairy cows on the farm.

      %p
        When Paula married Mark, she learned how to make homemade ice cream from Mark's mother, Grandpa Arthur's daughter.  
        She quickly saw the difference in taste with homemade ice cream, especially if made with the freshest and purest ingredients.  
        She made the basics--vanilla, chocolate, and strawberry and perfected the process so it was safe and tasty.

      %p
        Then Paula and Mark's mother began experimenting with different flavors.  First was cinnamon, which has become one of our 
        favorites.  Then experiments with chocolate--peanut butter, caramel, fudge, and more.  As she experimented, she gave samples 
        to her friends and family who all encouraged her to start her own ice cream business. It was only a matter of time before The Real
        Stuff Ice Cream was born.

#info.about_div_left.left
  .content_div_container
    %p
      555-555-5555
    %p
      Located at:
    %p
      Zoe's Cafe
      %br
      715 10th St. 
      %br
      Greeley, CO 80631

.clear